body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  margin-right: 5vw;
  margin-left: 5vw;
  padding: 0 64px 0 64px;

}
@media only screen and (max-width: 1200px) {
  main{
    padding: 0 16px 0 16px;
    margin: 0;
  
  }
}
